.contact {
    margin: 100px;
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
}

.contact img {
    width: 50%;
    height: auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-form textarea{
    resize: none;
}

.form-elements {
    margin-top: 15px;
    padding: 8px;
    border-radius: 3px;
    border: 2px solid #2c2c2c;
}

.contact-form .submit {
    background-color: #2c2c2c;
    color: #c4c4c4;
}

.contact-form label {
    font-weight: 300;
}